/* Cache div à l'ouverture de la page */
#presentation , #langues , #informatiques {
    display: none;
}

#etudes , #experiences {
    display: none;
}

#arts , #sports {
    display: none;
}

#contacts {
    display: none;
}

#btn1 , #btn2 , #btn3 , #btn4 {
    display: none;
    float: right;
}


/* Logos, drapeaux et pictogrammes */
.logos , .drapeau {
    width: 75px;
    height: 75px;
    border: 1px solid black;
}

.namesL {
    text-align: center;
}

.pictos {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

#photo-profil {
    width: 155px;
    height: 155px;
    border: 3px solid black;
}

.contacts {
    height: 85px;
}



/* Règlages des boîtes */
#box1 {
    position: relative;
    height: 50vh;
    background-color: #a9def9;
    /*background-image: url();*/
}

#box2 {
    position: relative;
    height: 50vh;
    background-color: #e4c1f9;
    /*background-image: url();*/
}

#box3 {
    position: relative;
    height: 50vh;
    background-color: #fcf6bd;
    /*background-image: url();*/
}

#box4 {
    position: relative;
    height: 50vh;
    background-color: #d0f4de;
    /*background-image: url();*/
}

/* Titres */

#t1 , #t2 , #t3 , #t4 {
    text-align: center;
    position: absolute;
}

#t1 , #t3 {
    bottom: 50%;
    right: 50%;
}

#t2 , #t4 {
    bottom: 50%;
    left: 50%;
}

/* Arbre */
.arbre {
    position: absolute;
    
}

.haut-gauche {
    bottom: 0;
    right: 0;
}

.haut-droit {
    bottom: 0;
    left: 0;
}

.bas-gauche {
    top: 0;
    right: 0;
}

.bas-droit {
    top: 0;
    left: 0;
}

